@model IEnumerable<WebA.Models.Server>

@{
    ViewData["Title"] = "服務狀態";
}


<style>
    body {
        background-color: #fff7df; /* 替换为你需要的背景颜色 */
    }

    .container {
        width: 100%; /* 設置容器的寬度 */
        margin: 0 auto; /* 將容器水平居中 */
        box-sizing: border-box; /* 确保内边距不会影响元素的宽度 */
    }

    h1 {
        width: 98%; /* 設置標題寬度與容器寬度一致 */
        color: black; /* 設置字體顏色 */
        font-size: 15px; /* 設置字體大小 */
        font-weight: bold; /* 設置文字粗體 */
        background-color: #7584F2; /* 背景顏色 */
        padding: 5px; /* 調整 padding */
        text-align: center; /* 文字居中 */
        margin: 0; /* 設置上下方間距為0 */
        box-sizing: border-box; /* 包含 padding 在內的寬度計算 */
        border-radius: 15px; /* 設置圓弧的半徑 */
        margin-left: 4px;
    }


    .table {
        width: 100%; /* 設置表格寬度與容器寬度一致 */
        margin-top: 0px; /* 設置表格頂部與標題之間的距離 */
        font-weight: bold; /* 設置文字粗體 */
        border-collapse: collapse;
        font-size: 10px; /* 設置字體大小 */
        text-align: center;
        box-sizing: border-box; /* 包含 padding 在內的寬度計算 */
        border: 5px solid #848484; /* 為表格容器設置邊框 */
        border-radius: 15px; /* 設置表格容器圓角半徑 */
        overflow: hidden; /* 隱藏超出圓角的部分 */
        padding: 0; /* 确保内边距不会影响表格宽度 */
    }

        /* 設置表格的邊框和內邊距 */
        .table th, .table td {
            border: 1px solid #FFE8A3;
            padding: 6px;
            text-align: left;
        }

        /* 設置表頭的背景顏色 */
        .table th {
            margin: 0;
            background-color: #FFE8A3;
            color: black;
        }

    /* 按鈕的樣式 */
    .btn-primary {
        background-color: #FFE8A3;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px; /* 上方間距為20像素 */
        cursor: pointer;
        border-radius: 5px;
    }

        /* 按鈕懸停時的背景顏色 */
        .btn-primary:hover {
            background-color: #FFE8A3;
        }

    img {
        width: 100%; /* 确保图片宽度100% */
        height: auto; /* 高度自动调整 */
        display: block; /* 确保图片作为块元素显示，不与其他元素同行 */
        margin-bottom: 10px; /* 图片底部间距，避免与下方元素紧贴 */
    }
</style>


<div style="margin-bottom: 20px;">
    <img src="/img/italic nest.jpg" alt="top" style="display: block; width: 100%; height: auto;">
</div>

<div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayName("學號")</th>
                    <th>@Html.DisplayName("姓名")</th>
                    <th>@Html.DisplayName("系別")</th>
                    <th>@Html.DisplayName("年級")</th>
                    <th>@Html.DisplayName("班級")</th>
                    <th>@Html.DisplayName("繳費日期")</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Major)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                        <td>@Html.DisplayFor(modelItem => item.Class)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.SelectedOption)</td>
                    </tr>
                }
            <div style="margin-bottom: 20px;">
                <img src="/img/icon.jpg" alt="icon" style="display: block; position: fixed;
            bottom: 10px;right: 10px;margin-left:10px; width: 35%; height: auto;">
            </div>
            </tbody>
        </table>
    </div>
</div>
